<section class="example-container">
    <h1>Owl Date Time Picker Examples</h1>

    <app-basic-example></app-basic-example>

    <app-stand-alone-example></app-stand-alone-example>

    <app-year-month-example></app-year-month-example>

    <app-range-example></app-range-example>

    <app-start-view-example></app-start-view-example>

    <app-restriction-example></app-restriction-example>

    <app-validation-example></app-validation-example>

    <app-localization-example></app-localization-example>

    <app-moment-js-example></app-moment-js-example>

    <app-custom-format-example></app-custom-format-example>
    <app-reacive></app-reacive>
</section>
